body {
  display: block;
  margin: 8px;
}

body>div {
  margin: 10px 0 10px 0;
}

button {
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 20px;
}

.bob {
  width: 100px;
  height: 100px;
  background: red;
}

.circle {
  width: 40px;
  height: 40px;
  display: grid;
  border: 0px solid;
  border-radius: 40px;
  background: rgb(85, 98, 218);
}
.black{
  width: 100px;
  height: 40px;
  background: black;
  color: #fff;
  text-align: center;
  padding: 15px;
}
#heart {
  position: relative;
  width: 100px;
  height: 90px;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}